:root {
    --color-background: #eee;
    --color-on: #008000;
    --color-off: #F52D2C;
    --color-button-hover: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #0E0E0E;
        --color-on: #2CF536;
        --color-off: #cd5c5c;
        --color-button-hover: #222;
    }
}


html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    color: #8C82DB;
    font-weight: bold;
}

text {
    font-size: 10px;
    color: #5A5D63;
    line-height: 21px;
    margin-bottom: 4px;
}

p {
    font-size: 15px;
    color: #7F828B;
    line-height: 21px;
    margin-bottom: 4px;
}

.message {
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    max-width: 450px;
}

.message__title {
    font-size: 22px;
    font-weight: 100;
    margin-top: 15px;
    color: #8F929B;
    margin-bottom: 8px;
}

.on {
    color: var(--color-on);
}

.off {
    color: var(--color-off);
}

#server__ip {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
    color: #7F828B;
    border: 1px solid #7F828B;
    cursor: pointer;
}

#server__ip:hover {
    background-color: var(--color-button-hover);
}
